/*
 Screen style    
 Site: Nautica 13
*/

.box {
 background-color: #BB55BB;
}

.box.left.welcome {
 /*background-image: url(../images/bg/blue/welcome.jpg);*/
 background-position: bottom left;
 background-repeat: no-repeat;
 padding-top: 18px; 
}

.box.left.welcome h2 {
 margin-bottom: 0.75em;
}

#content {
 padding-bottom: 12px;
 color: #FFCCFF;
}

#content a {
 background-color: transparent;
 color: #FFEEFF;
 text-decoration: underline;
}

#content a:hover {
 background-color: transparent;
 color: #470F00;
}

#content h1, #content h2, #content h3 {
 background-color: transparent;
 color: #fff;
}

#footer {
 background-color: #BB55BB;
 color: #684C35;
 width: 716px;
}

#footer a {
 background-color: transparent;
 color: #684C35;
}

#footer a:hover {
 background-color: transparent;
 color: #CCCCCC;
}

#footer p {
 /*background: #DFF1EE url(../images/bg/blue/footer-bottom.gif) bottom left no-repeat;*/
 
 color: #ffeeff;
}

#inner-wrapper {
}

#nav a {
 background-color: #BB55BB;
}


#nav a#nav04 {
 width: 111px;
}

#nav a#nav05 span{
 background-image: url(../images/nav/blue/05.gif);
}

#nav a#nav05 {
 width: 109px;
}

#nav a:hover {
 background-color: #DD77DD;
}

#original-events h1 span {
 background-image: url(../images/titles/blue/original-events.gif);
}

#original-events img {
 border: 5px solid #fff;
}

#testimonials-link {
 height: 107px;
 width: 29px;
 left: -1px;
}

#wrapper {
 width: 828px;
}

#nav a.current {
 background-color: #AA44AA;
 font-weight: bold;
}

#wedding {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 0.8em;
}

