{% extends "index_admin.html" %}
{% block content %}
<style>
  .missing {
    color: #FF0000;
  }
  .ok {
    color: #00FF00;
  }
  .namehead {
    font-weight: bold;
  }
</style>
<div id="form">
<form method="POST">
  <table>
    {{ form }}
    <tr><td colspan="2">
        {% if id %}<input type="hidden" name="_id" value="{{id}}" />{%endif%}
        <input type="submit"></td></tr>
  </table>
</form>
</div>
<hr />
<div id="list">
  <table border="1" cellpadding="3">
  {% for g in gaester %}
  {% ifchanged g.type %}
  <tr><td colspan="5" class="namehead">{{g.type}}</td></tr>
  {% endifchanged %}
  <tr>
    <td>
      {% if g.meldttilbage %}<span class="ok">*</span>{%endif%}</td>
    <td>{{ g.navn }}</td>
    <td>{% if g.vaerelse %}
      <span class="{% if g.betalt %}ok{%else%}missing{%endif%}">{{g.spaces}} Sengeplads(er)</span>{%endif%}</td>
    <td><a href="/admin/gaest?action=edit&id={{g.key.id}}">edit</a>|<a href="/admin/gaest?action=del&id={{g.key.id}}">x</a></td>
  </tr>
  {% endfor %}
</ul>

</div>
{% endblock %}
