{% extends "index_admin.html" %}
{% block extrahead %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> 
<script src="/static/javascrip/jquery.dimensions.min.js"></script>
<script src="/static/javascrip/jquery.tooltip.min.js"></script>
<script>
$(document).ready(function() {
 // hides the slickbox as soon as the DOM is ready
 // (a little sooner than page load)
{%if normal %}$('#form').hide();{%endif%}
 // shows the slickbox on clicking the noted link  
  $('a#form-show').click(function() {
    $('#form').show('slow');
    return false;
  });
 // hides the slickbox on clicking the noted link  
  $('a#form-hide').click(function() {
    $('#form').hide('fast');
    return false;
  });
 
 // toggles the slickbox on clicking the noted link  
  $('a#form-toggle').click(function() {
    $('#sform').toggle(400);
    return false;
  });
});
</script>
<style>
  .missing {
    color: #FF0000;
  }
  .ok {
    color: #00FF00;
  }
  .namehead {
    font-weight: bold;
  }
  .withdescr {
    text-decoration: underline;
  }
  #id_descr {
    width: 600px;
    height: 300px;
  }
</style>
{%endblock%}
{% block content %}
{% if normal %}<a href="javascript:void" id="form-show">Tilføj gæst</a>{%endif%}
<div id="form">
{% if normal %}<a href="javascript:void" id="form-hide">Luk</a>{%endif%}
<form method="POST">
  <table>
    {{ form }}
    <tr><td colspan="2">
        {% if id %}<input type="hidden" name="_id" value="{{id}}" />{%endif%}
        <input type="submit"></td></tr>
  </table>
</form>
</div>
<hr />
<div id="list">
  <table border="1" cellpadding="3">
  {% for g in gaester %}
  {% ifchanged g.type %}
  <tr><td colspan="5" class="namehead">{{g.type}}</td></tr>
  {% endifchanged %}
  <tr>
    <td>
      {% if g.meldttilbage %}<span class="ok">*</span>{%endif%}</td>
    <td {% if g.descr %}class="withdescr"{%endif%} title="{{ g.descr }}">
{%if g.descr%}<a href="/gaest/{{g.key.id}}" target="_blank">{%endif%}{{ g.navn }}
{%if g.descr%}</a>{%endif%}</td>
     <td>{% if g.vaerelse %}
      <span class="{% if g.betalt %}ok{%else%}missing{%endif%}">{{g.spaces}} Sengeplads(er)</span>{%endif%}</td>
    <td><a href="/admin/gaest?action=edit&id={{g.key.id}}">edit</a>|<a href="/admin/gaest?action=del&id={{g.key.id}}">x</a></td>
 </tr>
  {% endfor %}
</ul>

</div>
{% endblock %}
