{% extends "index.html" %}
{% block content %}
<div id="original-events" style="width: 250px; min-height: 320px;">
  <img src="/static/images/kirke2.jpg" style="float:right" />
</div>
<div id="fullcontent" class="box left" style="width: 455px; min-height: 300px">
  <h1>Bryllupsrejsen</h1>
  <p>Vi regner med at holde bryllupsrejsen til efter&aring;ret og turen skal g&aring; til f&oslash;rst nogle dage i New York og derefter 8-10 dage i Caribien. I den forbindelse vil vi v&aelig;re glad for gaver/gavekort til oplevelser og ting undervejs.</p>
  Forslag
  <ul>
    <li>Dykkertur - ca. XXkr

  </ul>
  </div>
{% endblock %}
