{% extends "index.html" %}
{% block content %}
<div id="original-events" style="width: 250px; min-height: 320px;">
  <img src="/static/images/kirke2.jpg" style="float:right" />
</div>
<div id="fullcontent" class="box left" style="width: 455px; min-height: 300px">
  <h1>Brylluppet</h1>
  <div id="wedding">Vielsen finder sted i Kirke Saaby Kirke.<br>
    <i>8. maj 2010 kl 14.00</i><br>
  Alle er velkomne</div>

<ul>
    <li>Kirkens adresse er <a href="http://bit.ly/14SsTW">Bogøvej 1, Kirke Saaby</a></li>
    <li>Thomas Reinholdt Rasmussen kommer helt fra Tversted og forestår
    ceremonien.</li>
    <li>Efter kirken er der kage og champagne på Sonnerupgaard Gods i
    festfløjen for alle der har lyst</li>
    <li>Dem har værelser kan få nøgle fra $TODO
    <li>Kl 18.00 starter middagen for alle de inviterede
    <li><a href="/gaester">Gæsteliste</a></li>
    <li>Mulighed for <a href="/overnatning">overnatning og brunch søndag</a></li>
    <li>Gavekoordinator: <a href="/kontakt">Hanne Vrist Jørgensen</a></li>
    <li>Toastmaster: <a href="/kontakt">Torben Bjerregaard Larsen</a></li>
  </ul>
  </div>
{% endblock %}
