{% extends "index.html" %}
{% block content %}
<div id="original-events" style="width: 250px; min-height: 320px;">
  <img src="/static/images/kirke2.jpg" style="float:right" />
</div>
<div id="fullcontent" class="box left" style="width: 455px; min-height: 300px">
  <h1>Brylluppet</h1>
  <div id="wedding">Vielsen finder sted i Kirke Saaby Kirke.<br>
    <i>8. maj 2010 kl 14.00</i><br>
  Alle er velkomne</div>

<ul>
    <li>Kirkens adresse er <a href="http://bit.ly/14SsTW">Bogøvej 1, Kirke Saaby</a></li>
    <li>Thomas Reinholdt Rasmussen kommer helt fra Tversted og forestår
    ceremonien.</li>
    <li>Vi har hyret <a href="http://www.amandathomsen.com/?lang=da">Amanda
      Thomsen</a> til at tage billeder i kirken og frem til middagen. Vi
    h&aring;ber at vores g&aelig;ster vil nyde vielsen og lade Amanda st&aring;
    for billederne inde i selve kirken.
    <li>Efter kirken er der kage og champagne på Sonnerupgaard Gods i
    festfløjen for alle der har lyst(ca. kl 15.30)</li>
    <li>Dem der har værelser kan her få nøglen til deres værelse. 
    <li>Brudeparret spiser kage og hygger lidt med vores g&aelig;ster  inden vi stikker af sammen med Amanda og f&aring;r taget billeder p&aring; og omkring Sonnerupgaard. N&aring;r vi kommer tilbage h&aring;ber vi at vores g&aelig;ster vil stille op
    til nogle hyggelige billeder i par efterh&aring;nden som Amanda har plads.
    <li>Kl 18.00 starter middagen for alle inviterede</li>
    <li>Kaffe og brudevals i de tilst&oslash;dende gemakker hvorefter festen starter med cocktailbar og dans.</li>
    <li>Brudeparret regner med at feste til den lyse morgen og h&aring;ber i alle vil v&aelig;re med</li>
    <!--<li><a href="/gaester">Gæsteliste</a></li>
    <li>Mulighed for <a href="/overnatning">overnatning og brunch søndag</a></li>
    <li>Gavekoordinator: <a href="/kontakt">Hanne Vrist Jørgensen</a></li>-->
  </ul>
  </div>
{% endblock %}
