<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta name="robots" content="index,follow" />
<meta name="description" content="Bryllupsside for Søren og Susanne" />
<meta name="author" content="Søren Vrist" />
<meta name="copyright" content="" />
<link rel="stylesheet" type="text/css" href="/static/stylesheets/one.css" media="screen, projection" />
 <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6981204-2");
pageTracker._trackPageview();
} catch(err) {}</script>
<title>{{ title }}</title>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <p id="logo"><a href="/"><img src="/static/images/logo/fuego.gif" alt="Søren og Susannes bryllupsside" width="191" height="122" /></a></p>
    <p id="to-content"><a href="#content">Skip to content</a></p>
    <ul id="nav">
      <li><a href="/" id="nav01" {{nav1}}>Start</a></li>
      <li><a href="/brylluppet" id="nav02" {{nav2}}>Brylluppet</a></li>
      <li><a href="/transport" id="nav03" {{nav3}}>Transport</a></li>
      <li><a href="/onsker" id="nav04" {{nav4}}>Ønsker</a></li>
      <li><a href="/overnatning" id="nav05" {{nav5}}>Overnatning</a></li>
    </ul>
  </div>
  <div id="inner-wrapper">
    <div id="content">
      {% block content %}
      <div id="original-events">
        <!--<h1>Susanne og S&oslash;rens bryllup</h1>-->
        <img src="/static/images/collage2.jpg" alt="Sus og Søren Collage" width="410" height="410" /> </div>
      <div class="box left welcome">
        <h2>Hej!</h2>
        <p>Her og via menuen foroven kan du finde alle de informationer du skal bruge som gæst til vores bryllup</p>
        <hr>
        <h2>Facts</h2>
        <ul>
          <!--<li>Kirke: <a href="http://www.kirke-saaby.dk/kirkerne/Saaby/index.htm">Kirke Saaby Kirke</a>
          <ul>
            <li>Adresse: <a href="http://bit.ly/14SsTW">Bogøvej 1, Kirke Saaby</a></li>
          </ul>
          </li>-->
          
          <li><b>Kirke Saaby Kirke 8. maj 2010 kl 14:00</b></li>
          <li><a href="/transport">Transport</a>
          <li>Sted: Festfløjen på <a href="http://www.sonnerupgaard.dk/">Sonnerupgaard Gods</a></li>
          <li>Mulighed for <a href="/overnatning">overnatning og brunch søndag</a></li>
          <li>Gavekoordinator: <a href="/kontakt">Hanne Vrist Jørgensen</a></li>
          <li>Toastmaster: <a href="/kontakt">Carl Erik (Calle)</a></li>
          <li><a href="/gaester">Gæsteliste</a></li>
          <li><a href="/kontakt">S.U.</a> for overnatning: 1/1 2010</li>
          <li><a href="/kontakt">S.U.</a> for festen: 1/4 2010</li>
        </ul>
      </div>
    {% endblock %}
    </div>
  </div>
  <hr />
  <div id="footer">
    <p>Copyright 2007 <a href="http://www.studio7designs.com">STUDIO7DESIGNS</a>  | Design by<a href="http://www.arbutusphotography.com"> Arbutus </a> 
    {% if users.get_current_user %}<a href="{{logouturl}}" style="font-size:3em; color:#fff;">Logout</a>{%endif%}
    </p>
  </div>
</div>
</body>
</html>
