<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{ title }}</title>
</head>
<body>
  <div id="menu">
    <a href="/">Hovedsiden</a> - <a href="/gaester">Gæstelisten</a> -
    <a href="/admin/gaest">Gæster</a>
  </div>
  <hr />
  <div id="content">
    {% block content %}
    Admin pages
    {% endblock %}
  </div>
  <hr />
</body>
</html>
