<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{{ title }}</title>
<style>
  a.real {
    color: #888;
  }
  a.admin {
    font-weight: bold;
  }
</style>
{% block extrahead %}{%endblock%}
</head>
<body>
  <div id="menu">
    <a href="/" class="real">Hovedsiden</a> | <a href="/gaester" class="real">Gæstelisten</a> -
    <a href="/admin/gaest" class="admin">Gæster</a> |
    <a href="/overnatning" class="real">Overnatning</a> - <a href="/admin/seng" class="admin">Seng</a> |
	<a href="/onsker" class="real">Ønsker</a> - <a href="/admin/onsk" class="admin">Ønsker</a>
  </div>
  <hr />
  <div id="content">
    {% block content %}
    Admin pages
    {% endblock %}
  </div>
  <hr />
</body>
</html>
