{% extends "index.html" %}
{% block content %}
<div id="original-events" style="width: 200px; min-height: 320px;"><img src="/static/images/sidebar.jpg" width="200" height="320"/></div>
<div id="fullcontent" class="box left" style="width: 505px; min-height: 300px">
  <h1>S.U. på</h1>
  <ul>
    <li>Email: <a href="mailto:bryllup@vrist.dk;">bryllup@vrist.dk</a></li>
    <li>Telefon: +45 27146248(Sus) eller +45 22266245(Søren)</li>
  </ul>
  <h1>Gavekoordinator</h1>
  {% include "gavekoord.html" %}
    <h1>Toastmaster</h1>
    <ul>
      <li>Carl Erik Olsen</li>
      <li>Email: <a href="mailto:ceo@pc.dk">ceo@pc.dk</a>
    </ul>
  </div>
  {% endblock %}


