{% extends "index.html" %}
{% block content %}
<div id="original-events" style="width: 200px; min-height: 320px;"><img src="/static/images/sidebar.jpg" width="200" height="320"/></div>
<div id="fullcontent" class="box left" style="width: 505px; min-height: 300px">
  <h1>S.U. på</h1>
  <ul>
    <li>Email: <a href="mailto:bryllup@vrist.dk;">bryllup@vrist.dk</a></li>
    <li>Telefon: +45 27146248(Sus) eller +45 25101290(Søren)</li>
  </ul>
  <h1>Gavekoordinator</h1>
  {% include "gavekoord.html" %}
    <h1>Toastmaster</h1>
<!--  <ul>
    <li>Email: <a href="mailto:&#116;&#098;&#108;&#097;&#114;&#115;&#101;&#110;&#064;&#100;&#097;&#100;&#108;&#110;&#101;&#116;&#046;&#100;&#107;">&#116;&#098;&#108;&#097;&#114;&#115;&#101;&#110;&#064;&#100;&#097;&#100;&#108;&#110;&#101;&#116;&#046;&#100;&#107;</a></li>
    <li>Telefon: </li>
  </ul>-->
  Kommer senere
  </div>
{% endblock %}


