{% extends "index.html" %}
{% block content %}
<div id="fullcontent" class="box left" style="width: 505px; min-height: 280px">
  <h1>Ønsker</h1>
  <ul>
    <li>Stole til køkken, 2.stk. Arne Jakobsen 3107. Sort</li>
    <li>Spisestuestole. Ledo, hvid. (fåes i Ilva)</li>
    <li>Smørholder, porcelæn. Til rigtigt smør, ikke kærgården.</li>
    <li>KitchenAid Røremaskine</li>
    <li>Foodprocessor. Hakke, snitte,skære</li>
    <li>Blender. Philips HR2094, børstet stål</li>
    <li>Deserttallerkner</li>
    <li>Sovsekande</li>
    <li>Glas fra Spiegelau, serie Beverly Hills. Rødvin, hvidvin, champagne</li>
    <li>Støvsuger</li>
    <li>Grillpande</li>
    <li>Knive fra Zwilling Twin Cousine. forskærerkniv, universalkniv</li>
    <li>Pastamaskine</li>
    <li>Lamper</li>
    <li>Bagesten</li>
    <li>Kafferister, f.eks. en Iroast eller en Imex</li>
  </ul>
  <h2>Gavekoordinator</h2>
  {% include "gavekoord.html" %}
</div>
{% endblock %}
