{% extends "index.html" %}
{% block content %}
<div id="fullcontent" style="width: 502px; min-height: 320px; float:right;" class="box">
  <h1>Overnatning</h1>
  <p>Vi er så heldige at have
  mulighed for at leje værelser i forbindelse med festlokalerne. I første omgang
  har vi sengepladser i forskellige størrelse værelser (1,1½ og 2 person(er)). Det er muligt der
  bliver flere værelser og ellers bliver der mulighed for et antal
  opredninger. Vi skal melde tilbage <b>5. januar 2010</b> med hvor mange værelser vi
  skal bruge så vi skal bruge jeres tilbagemelding så hurtigt som muligt inden
  da. <br/>
  Vi håber meget, at alle, der har mulighed for det, vil blive og overnatte og spise
  brunch sammen med os næste morgen.
  </p>
  <p>
  Prisen bliver <b>300kr per person</b> for en sengeplads. Næsten morgen er der morgenmad/brunch for alle der har lyst incl. dem der evt. ikke overnatter på Sonnerupgaard.
     Vi vil forsøge at få fordelt værelserne så alle bliver tilfredse. Meld tilbage
     til os via <a href="/kontakt">S.U. adresserne her</a> hvis I ønsker
     sengepladser. 
     </p>
     <p>
     Når vi har fået overført pengene(300kr/person) til vores konto:<br>
     {%comment%}<ul>
       <li>Reg nr.: 7681</li>
       <li>Kontonr: 0000390740
       <li>Alm. Brand Bank</li>
     </ul>
     {%endcomment%}
     er jeres værelse reserveret. Husk at skrive navn på overførslen. Bemærk at
     det er efter "først til mølle" princippet.
     </p>
     <h2>Værelserne</h2>
     <p>Værelserne er forskellige i størrelse og indretning. Nogle få har eget bad
     og toilet og resten har bad og toilet på gangen.<br>
     Værelserne er til rådighed fra kl 16 på selve dagen og indtil kl 11 dagen
     efter.</p>
     Lige nu er der:
     <ul>
       <li>{{ dobbelt }} dobbeltværesler</li>
       <li>{{ enkelt }} enkeltværelser</li>
       <li>X opredninger</li>
     </ul>
     {% if users.is_current_user_admin %}<a href="/admin/seng">Edit</a>{%endif%}  
   </div>
<div id="original-events" style="float: left; width: 200px; min-height: 320px">
  <img src="/static/images/sidebar.jpg" width="200" height="320">
</div>
{% endblock %}
