{% extends "index.html" %}
{% block content %}
<div id="original-events" style="width: 200px;"><img src="/static/images/heartside.JPG" width="200" height="316"/></div>
<div id="fullcontent" class="box left" style="width:505px;">
  <h1>Transport</h1>
  <p>Først og fremmest: Hvis I har nogen som helst spørgsmål eller
  problemer, så <a href="/kontakt">kontakt os</a>. Det er muligt vi
  kan hjælpe på den ene eller anden måde</p>
  <h2>Transport til kirken</h2>
  Kirken ligger i Kirke Saaby 6km nord for Hvalsø.
  Der kører busser fra Roskilde til Kirke Saaby og Kalundborgbanen stopper i
  Hvalsø.
  <ul>
    <li><a href="http://bit.ly/14SsTW">Kirken på kort</a></li>
    <li>Bogøvej 8a, 4060 Kirke Saaby.
  </ul>
  <p>Vi vil meget gerne hjælpe med at koordinere så alle kan komme frem.
  Hvis nogen tager toget til Hvalsø og har brug for et lift, eller hvis nogen kommer
  i bil fra København eller fra vest og har ekstra plads hører vi meget
  gerne fra jer.</p>

  <h2>Transport til og fra Sonnerupgaard</h2>
  Efter kirken er alle velkomne til et stykke kage og champagne på
  Sonnerupgaard gods. Godset ligger 7km syd,syd-vest for kirken.
  <ul>
    <li><a
      href="http://findvej.dk/?address=Bog%F8vej&zip=4060&daddress=T%F8ll%F8sevej53&dzip=4330">Ruten
      fra Kirke til Gods på kort</a></li>
    <li>Tølløsevej 53, 4330 Hvalsø.</li>
  </ul>
  Der er 1½ km til Hvalsø station hvor bus og tog kan hjælpe folk til Roskilde og derfra rundt til resten af danmark.

</div>
{% endblock %}
